@model Com_Fi.Models.Musics

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Músicas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseYear" class="control-label"></label>
                <input asp-for="ReleaseYear" class="form-control" />
                <span asp-validation-for="ReleaseYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreFK" class="control-label"></label>
                <select
                    asp-for="GenreFK"
                    class="form-control"
                    asp-items="ViewBag.GenreFK"
                >
                    <option value="">Selecione, por favor, um género</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar música" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
