@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>    
</div>
<br />
<div class="text-center">
    <h4>Licenciatura em engenharia Informática, desenvolvimento web, ano letivo 2021/2022</h4>
    <br />
    <p>Desenvolvido pelos alunos 20948 e 20964, respectivamente, Daniel Graça e Rodrigo Mendes.</p>
    <br />
    <p>artistTwo@a2.a</p>
    <p>Qwerty123456789#</p>
</divc>

